<nav>
  <div class="site-title">
    <a href="/"><h1>Blogging Website</h1></a>
    
  </div>
  <ul>
    <li><a href="/">Blog Section</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Add new blogs here</a></li>
  </ul>
</nav>